//weight
$h1 : 600;
$h6: 200;
$h3: 500;



//size
$small : 1rem;
$smaller : 0.8rem; 
$medium : 1.2rem;



//colors
$primary : rgb(246, 200, 121);
$primaryOp : rgba(246, 200, 121,0.5);
$base1 : #282B2E;
$base-col-typo : #65676A;
$base-col: white;
$primary-gradient : linear-gradient(145deg, #ffd681, #ddb46d);
$infected : rgb(186, 49, 49);
$active : rgb(246, 200, 121);
$recovered : rgb(92, 193, 172);
$deaths : rgb(79, 78, 83);


//breakpoints
$firstbrk : 1640px;
$secondbrk : 1610px;