//weight
$h1 : 600;
$h6: 200;
$h3: 500;



//size
$small : 1rem;
$smaller : 0.8rem; 
$medium : 1.2rem;



//colors
$primary : rgb(246, 200, 121);
$primaryOp : rgba(246, 200, 121,0.5);
$base1 : #282B2E;
$base-col-typo : #65676A;
$base-col: white;
$primary-gradient : linear-gradient(145deg, #ffd681, #ddb46d);
$infected : rgb(186, 49, 49);
$active : rgb(246, 200, 121);
$recovered : rgb(92, 193, 172);
$deaths : rgb(79, 78, 83);


//breakpoints
$firstbrk : 1665px;
$secondbrk : 1570px;
$thirdbrk : 1510px;
$fourthbrk : 1450px;
$fifthbrk : 1270px;
$sixthbrk : 1150px;
$seventhbrk : 1045px;
$eighthbrk : 1000px;
$ninethbrk : 840px;
$tenthbrk : 800px;
$leventhbrk : 450px;
$twelveth : 380px;
$thirteenthbrk : 360px;


$helpingbrk : 590px;
$helpingbrk2 : 400px;
$helpingbrk3 : 300px