@import '../../../../sass/varibales.scss';


.charts{
    display: flex;
    flex-direction: column;
    &-updated{
        font-size: $small;
        margin: 0;
        display: flex;
        grid-column-gap: 0.3rem;
        align-items: center;
        &--1{
            display: flex;
            align-items: center;
            grid-column-gap: 0.6rem;
            font-weight: $h1;
            &::before{
                width : 20px;
                height: 20px;
                border-radius: 50%;
                content: '';
                background: linear-gradient(145deg, #ffd681, #ddb46d);
            }
        }
        &--2{
            font-weight: $h6;
            color: $base-col-typo;
        }
    }
    &-btn{
        margin-top: 1rem;
        text-decoration: none;
       .button{
           padding: 0.1rem 1.4rem;
           display: flex;
           align-items: center;
           justify-content: center;
           width: 100%;
           grid-column-gap: 0.3rem;
           background: $primary-gradient;
           box-shadow : 0px 5px 20px rgba(#ffd681,0.3);
           color: $base1;
           span:first-child{
               display: flex;
               justify-content: center;
            svg{
                width: 20px;
                fill: $base1;
            }
           }
       }
    }
}