@import '../../../../sass/varibales.scss';

.Main-data{
    display: flex;
    flex-direction: column;
    h1{
        font-weight: $h1;
        margin: 0;
        display: flex;
        .Svg{
           text-transform: uppercase;
           display: flex;
           align-items: center;
           margin-left: 0.5rem;
           &-span{
               width: 2rem;
               margin-left: 0.5rem;
               transform: translateY(2px);
               svg{
                width: 2rem;
                height: 2rem;
                fill : $active;
                filter : drop-shadow( 2px 1px 10px $active)
               }
           }
        }
    }
    h2{
        font-size: $small;
        opacity: 0.5;
        margin: 0;
        font-weight: $h6;
    }
}