@import '../../../sass/typo.scss';
@import '../../../sass/variable.scss';

.Instructions
{
    background-color: white;
    padding: 2rem;
    border-radius: 3rem;
    box-shadow: 0px 5px 15px rgba(3, 3, 3, 0.2);
    position: fixed;
    top : 50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-row-gap: 2rem;
    z-index: 30000;
    width : 30%;
    &--close
    {
        background-color:  rgb(255, 85, 85);
        fill: white;
        font-size: 3.2rem;
        border-radius: 50%;
        position: absolute;
        right: -0.7rem;
        top: -1.3rem;
        box-shadow: 0px 5px 15px rgba(255, 85, 85, 0.459);
        cursor: pointer;
    }
    h3
    {
        color :rgb(255, 85, 85);
    }
}