@import '../../../../sass/varibales.scss';

.table{
    display:flex;
    flex-direction: column;
    grid-row-gap: 1rem;
    width: max-content;
    @media only screen and (max-width : $secondbrk){
        flex: 0.45;
        width: auto;
    }
     @media only screen and (max-width : $fourthbrk){
         width : auto;
     }
       @media only screen and (max-width : $tenthbrk){
          width : 100%
      }
    h1{
        font-weight: $h1;
        margin: 0;
        @media only screen and (max-width : $helpingbrk){
                font-size : 1.7rem
              }
        @media only screen and (max-width : $leventhbrk){
                font-size : 1.5rem
              }
         @media only screen and (max-width : $helpingbrk2){
               font-size : 1.3rem
         }
    }
    &-search{
        width: 100%;
        input{
            width:100%;
            border-radius: 1rem;
            padding: 0.7rem;
            outline:none;
            border:none;
            background: linear-gradient(185deg, #2b2e31, #242729);
            box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
            caret-color: $base-col-typo;
            color: $base-col-typo;
            font-family: 'Poppins', sans-serif;
            &:focus{
                border: 2px solid $primaryOp;
            }
            &::placeholder {
            color: $base-col-typo;
            opacity: 1;
            }
            
            &:-ms-input-placeholder {
            color: $base-col-typo;
            }

            &::-ms-input-placeholder {
            color: $base-col-typo;
            }
        } 
    }
    &-buttons{
        display:grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        @media only screen and (max-width :  $thirteenthbrk ){
            grid-gap : 0.5rem
        } 
        @media only screen and (max-width :  $helpingbrk3 ){
                grid-gap : 0.2rem
             }
        .button{
            font-family: 'Poppins', sans-serif;
            padding: 0.5rem 1.4rem;
            border-radius: 5px;
            border:none;
            outline:none;
            font-weight: $h1;
            color: $base-col;
            cursor:pointer;
            &:active{
                scale: 0.9;
                transition: 0.5s all;
            }
             @media only screen and (max-width :  $thirteenthbrk ){
                   padding: 0.5rem 1rem;
             }
             @media only screen and (max-width :  $helpingbrk3 ){
                  padding: 0.5rem 0.7rem;
             }
        }
        .active{
            background: linear-gradient(145deg, #ffd681, #ddb46d);
            box-shadow: 0px 5px 15px  rgba(255, 213, 129, 0.259);
            color: $base-col;
        }
    }
    &-data{
    height: 400px;
    overflow: auto;
    &::-webkit-scrollbar{
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    }
}