@import '../../../../sass/varibales.scss';

.Tracker-container{
    display :flex;
    grid-gap: 4vw;
    width: max-content;
    @media only screen and (max-width : $secondbrk){
        grid-gap: 4rem;
    }
    .Swipper{
        display: flex;
        height: 65px;
        &-Slide{
            width: max-content;
        }
    }
}